<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Provincepedia | {{title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{sub}}assets/css/main.css" />

	<link rel="stylesheet" href="{{sub}}assets/css/jqcloud.css" />
	<noscript>
		<link rel="stylesheet" href="{{sub}}assets/css/noscript.css" />
	</noscript>
	<script src="{{sub}}assets/js/jquery.min.js"></script>
	<script src="{{sub}}assets/js/jquery.easy-autocomplete.min.js"></script>

	<link rel="stylesheet" href="{{sub}}assets/css/easy-autocomplete.min.css">
	<link rel="stylesheet" href="{{sub}}assets/css/easy-autocomplete.themes.min.css">
	<link rel="stylesheet" href="{{sub}}assets/css/custom.css" />
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/" class="logo">
					<img src="{{sub}}images/Logo.png" alt="" style="width:400px" />
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="{{sub}}/">Home</a></li>
				<li><a href="{{sub}}applicationRequirements">Application Requirements</a></li>
				<li><a href="{{sub}}datasetRequirements">Dataset Requirements</a></li>
			</ul>
		</nav>
		{{{body}}}
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="copyright">
					<li>&copy; 2018. Provincepedia</li>
					<li>Universidad Politécnica de Madrid</li>
					<li>Base theme by <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					<li><a href="https://github.com/philosss/Provincepedia" target="_blank" class="icon style1 fa-github"><span class="label">GitHub Repo</span> GitHub Repo</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{{sub}}assets/js/browser.min.js"></script>
	<script src="{{sub}}assets/js/breakpoints.min.js"></script>
	<script src="{{sub}}assets/js/util.js"></script>
	<script src="{{sub}}assets/js/main.js"></script>
	<script src="{{sub}}assets/js/canvasjs.min.js"></script>
	<script src="{{sub}}assets/js/jqcloud-1.0.4.min.js"></script>
</body>

</html>