<!-- Main -->
<script>
  window.onload = function() {
    var popDistribution = new CanvasJS.Chart("popDistribution", {
      animationEnabled: true,
      // title: {
      //   text: "Population of {{capital}}"
      // },
      axisX: {
        valueFormatString: "YYYY",
        minimum: new Date(2008, 0),
        maximum: new Date(2018, 2)
      },
      axisY: {
        //title: "Population in k"
      },
      legend: {
        verticalAlign: "top",
        horizontalAlign: "right",
        dockInsidePlotArea: true
      },
      toolTip: {
        shared: true
      },
      data: [{
          xValueFormatString: "YYYY",
          name: "Men",
          showInLegend: true,
          legendMarkerType: "square",
          type: "line",
          lineThickness: 2,
          color: "#4F81BC",
          markerSize: 5,

          dataPoints: [{{#each pop_male}}
                    {x: new Date({{this.x}},0),y: {{this.y}} },
                    {{/each}}]
        },
        {
          name: "Women",
          xValueFormatString: "YYYY",
          showInLegend: true,
          legendMarkerType: "square",
          type: "line",
          lineThickness: 2,
          color: "#C0504E",
          markerSize: 5,
          dataPoints: [{{#each pop_female}}
                    {x: new Date({{this.x}},0),y: {{this.y}} },
                    {{/each}}]
        },
        {
          name: "Total",
          xValueFormatString: "YYYY",
          showInLegend: true,
          legendMarkerType: "square",
          type: "line",
          lineThickness: 3,
          color: "#9BBB58",
          markerSize: 5,
          dataPoints: [{{#each pop_total}}
                    {x: new Date({{this.x}},0),y: {{this.y}} },
                    {{/each}}]
        }
      ]
    });
    var popPie = new CanvasJS.Chart("popPie", {
      animationEnabled: true,
      data: [{
        type: "pie",
        startAngle: 0,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [{{#each pop_pie}}
                  {label: "{{this.label}}",y: {{this.y}} },
                  {{/each}}]
      }]
    });

    var chartCrime = new CanvasJS.Chart("chartCrime", {
      animationEnabled: true,
      toolTip: {
        shared: true
      },
      data: [{
          type: "column",
          name: "2015",

          yValueFormatString: "#,##0.# reports",
          dataPoints: [{
              label: "Crimes and misdemeanours",
              y: 1934.5
            },
            {
              label: "Intentional homicide",
              y: 20015
            },
            {
              label: "Robbery with violence and intimidation",
              y: 25342
            },
            {
              label: "Home robberies",
              y: 20088
            },
            {
              label: "Theft of motor vehicles",
              y: 28234
            },
            {
              label: "Drug trade",
              y: 28234 + 30
            },
            {
              label: "Injuries",
              y: 28234 + 30
            },
            {
              label: "Burglary",
              y: 28234 + 30
            }
          ]
        },
        {
          type: "column",
          name: "2016",
          axisYType: "secondary",
          yValueFormatString: "#,##0.# Units",
          dataPoints: [{
              label: "Crimes and misdemeanours",
              y: 19034.5 + 30
            },
            {
              label: "Intentional homicide",
              y: 20015 + 30
            },
            {
              label: "Robbery with violence and intimidation",
              y: 25342 + 30
            },
            {
              label: "Home robberies",
              y: 20088 + 30
            },
            {
              label: "Theft of motor vehicles",
              y: 28234 + 30
            },
            {
              label: "Drug trade",
              y: 28234 + 30
            },
            {
              label: "Injuries",
              y: 28234 + 30
            },
            {
              label: "Burglary",
              y: 28234 + 30
            }
          ]
        }
      ]
    });

    popPie.render();
    popDistribution.render();
    chartCrime.render();
    adjustDimension();
    var word_list = [{{#each debt}}
              {text: "{{this.text}}",weight: {{this.weight}}, html: { "data-tooltip": "€ {{this.html.data-tooltip}}k" }},
              {{/each}}];

    $(function() {
      $("#debt_city").jQCloud(word_list, {
        shape: "rectangular",
        autoResize: true
      });
    });
  }

  function adjustDimension() {
    document.getElementById("popPie").style.height = String(parseInt(document.getElementById("popPie").style.height.split("px")[0]) - 10) + "px";
    document.getElementById("popDistribution").style.height = String(parseInt(document.getElementById("popDistribution").style.height.split("px")[0]) - 13) + "px";
    document.getElementById("chartCrime").style.height = String(parseInt(document.getElementById("chartCrime").style.height.split("px")[0]) - 13) + "px";
  }
</script>
<div id="main">
  <div class="inner">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-6 col-12-medium">
        <h2>Capital: {{capital_name}}</h2>
      </div>
      <div class="col-6 col-12-medium">
        <h3 style="text-align:right">Community of {{ac_name}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-12-medium">
        <span class="image fit">
          <div class="crop">
            <img src="{{image}}" alt="{{title}}">
          </div>
        </span>
      </div>
      <div class="col-8 col-12-medium">
        {{abstract}}
      </div>
    </div>
    <div class="row">
      <h3>Location</h3>
    </div>
    <div class="row">
      <!-- <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Madrid%20Province&key=AIzaSyDyEAEvC1GXwNh2T5r3Ygpv658ifLPXWLc" allowfullscreen></iframe> -->
      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://maps.google.com/maps?q=province+of+{{pain_nameprov_parsed_plus}}&t=&z=6&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div><br /> <br />
    {{#if image_banner}}
      <div class="row">
        <span class="image fit"><img src="{{image_banner}}" alt="{{title}}"></span>
      </div>
    {{/if}}
    <br /> <br />
    <div class="row">
      <h3>Population Info</h3>
    </div>
    <div class="row">
      <div class="col-4 col-12-medium">
        <div class="chart">
          <div id="popPie" style="height: 370px; width: 100%;"></div>
        </div>
      </div>
      <div class="col-8 col-12-medium">
        <div class="chart">
          <div id="popDistribution" style="height: 370px; width: 100%;"></div>
        </div>
      </div>
    </div>
    <br />
    <br />


    <div class="row">
      <h3>Composition and debt</h3>
    </div>
    <div class="row">
      <p>This cloud shows the public debt by city that compose the provice</p>
      <div id="debt_city" style="width: 100%; height: 200px; margin: auto;"></div>
    </div>
    <br />
    <br />
    <div class="row">
      <h3>Inmates and crime</h3>
    </div>

    <div class="chart">
      <div id="chartCrime" style="width: 100%; max-width: 900px; height: 370px; margin: auto;"></div>
    </div>
    <br /> <br />

    <div class="row">
      <a href="/" style="margin: auto; padding: 0;"><img src="{{sub}}images/Logo.png" alt="" style="width:400px" />
      </a>
    </div>
  </div>



</div>
